<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>GET & POST REQUEST</h1>

    <fieldset>
        <H2>GET</H2>

        <FORM action="/user" method="get">
            <label for="=username">Username</label>
            <input type="text" name="username" id="username">
            <label for="age">Age</label>
            <input type="number" name="age" id="age">
            <button type="submit">Send</button>
        </FORM>
    </fieldset>

    <!-- <hr> -->

    <fieldset>
        <H2>POST</H2>

        <FORM action="/user" method="post">
            <label for="=username">Username</label>
            <input type="text" name="username" id="username">
            <label for="age">Age</label>
            <input type="number" name="age" id="age">
            <button type="submit">Send</button>
        </FORM>
    </fieldset>
</body>

</html>