<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
    
    <h1>Login Page</h1>
    <input type="text" placeholder="Username">
    <input type="password" name="" id="" placeholder="password">
    <button>Submit</button>

<%- include("./partials/footer") %>