<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a random Number <%= randomNum%></h1>
    
    <%if(randomNum%2===0) {%>
        <h3>Even Number</h3>
    <% } else{ %>
        <h3>Odd Number</h3>
    <% }%>

</body>
</html>